HELP.md
# Diretórios de build e cache
build/
/.gradle/
!**/src/main/**/build/
!**/src/test/**/build/

# Arquivos do Gradle Wrapper
!gradle/wrapper/gradle-wrapper.jar
.gradle/
gradle/wrapper/gradle-wrapper.properties

# Arquivos de logs e temporários
*.log
*.lock

# Configurações específicas da IDE (caso use IntelliJ/Android Studio)
.idea/
*.iml

# Arquivos de execução e temporários do sistema operacional
.DS_Store
Thumbs.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

.gitattributes